<table class="table">
  <tr class="header">
    <th>#</th>
    <th>User</th>
    <th>Current Score</th>
    <th>Delta<th>
    <th>Last Change</th>
    <th>Accum. Change (<a href="#" class="reset_accum_total">reset</a>)</th>
  </tr>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr id="<%= user.id %>" class="candidate_row <%= 'danger_row' if index + 1 == 10 %>">
        <td class="place">
          <%= index + 1 %>
        </td>
        <td>
          <%= link_to user.display_name, "//stackoverflow.com/" + user.link %>
        </td>
        <td class="current-score">
          <%= user.current_score %>
        </td>
        <td class="delta">
          <% if index == 0 %>
            Leading by <%= user.current_score - @users[index + 1].current_score %>
          <% else %>
            <%= @users[index - 1].current_score - user.current_score %>
          <% end %>
        </td>
        <td class="last-change">0</td>
        <td class="accum-change">0</td>
      </tr>
    <% end %>
  </tbody>
</table>
